@import './base.css';

#app {
  width: 100%;
  height: 100%;
  padding: 0 !important;
  margin: 0 auto;
  font-weight: normal;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-direction: column;
  width: 100%;
  height: 100%;  
  background: 
    radial-gradient(rgb(0 0 0 / 66%), rgb(255 255 255 / 0%)), /* Центральный радиальный градиент */ 
    radial-gradient(rgb(0 0 0 / 0%), rgb(0 0 0 / 0%)), /* Второй радиальный градиент */ 
    linear-gradient(to bottom, rgb(25 52 136 / 150%) 10%, rgb(2 10 36) 120%);
}